*
  padding: 0
  margin: 0
  font-family: sans-serif

body
  background: linear-gradient(to bottom left, blue, pink)

.container
  min-width: 100vw
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

